body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

.header-section {
  background: #405d9b;
 
}
.middle-area{
  width: 75%;
  margin:auto;
  padding:5px 0;
}

.logo-area {
  width: 30%;
  float: left;
  overflow: hidden;
}
.logo-area img {
	margin-top: 18px;
}

.login-area{
  width: 70%;
  overflow: hidden;
  margin-top: 18px;
}

.login-area input{
	display: block;
	margin-right: 15px;
}
.login-area form {
	float:right;
}
.email-phone{
	float:left;
	overflow:hidden;
}
.password{
	float:left;
	overflow:hidden;
}

.log-in{
	float:left;
	overflow:hidden;
}

.login-area label {
	color: #fff;
	font-weight:normal;
	cursor:pointer;
}
.email-phone input{
	padding:2px 4px;
	margin-top: 3px;
	border: 1px solid #1d2a5b;
}

.password input {	
	margin-top: 3px;
	padding: 2px 4px;
	border: 1px solid #1d2a5b;
}

.password a{
	color: #9cb4d8;
	font-weight:normal;
}

.log-in input{
	margin-top:18px;
	background: #4267b2;
	border-radius:2px;
	font-weight:bold;
	padding: 2px 6px;
	text-align:center;
	cursor:pointer;
	border: 1px solid #29487d;
	color: #fff;
}
.log-in input:hover{
	background: #365899;
}


/* facebook sighup section desgin */

.signup-area{
	
 	background:linear-gradient(#fff, #D3D8E8); 
}

.signup-area:after{
	content: '';
	display: block;
	clear: both;
}

.signup-left{
	float:left;
	width:60%;
}
.signup-right{
	float:left;
	width:40%;
}

.signup-left h2{
	font-size:20px;
	width: 75%;
	color: #0E385F;
	margin-top: 50px;
	margin-bottom: 30px;
}


.signup-right h1{
	color: #333333;
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 7px;
}
.signup-right h3{
	color: #333333;
	font-weight: normal;
	font-size: 20px;
	margin-top: 0;
}

.all-input input{
	width: 100%;
	font-size: 18px;
	padding: 8px 10px;
	border: 1px solid #bdc7d8;
	border-radius: 5px;
	margin-bottom: 7px;
	box-sizing: border-box;
}

.name-input:after{
	content:'';
	display: block;
	clear: both;
}

.name-input input{
	float:left;
	width: 49%;
	margin-right: 7px;
}
.name-input input:nth-child(2){
	margin-right:0;
}

.select-option select{
	padding: 4px 5px;
	border: 1px solid #bdc7d8;
	margin-right: 0;
}

.select-option{
	float:left;
	margin-right: 10px;
	overflow:hidden;
}

.link-bd{
	font-size: 11px;
	overflow:hidden;
	width: 35%;
	
}
.birthday{
	overflow:hidden;
}


.gender{
	padding: 15px 0;
}

.gender label{
	font-size: 18px;
}

.terms{
	color: #777;
font-size: 11px;
width: 316px;
	margin-top:0;
}

.signup-right input[type="submit"]{
	background:linear-gradient(#67ae55, #578843);
	font-size:19px;
	text-align:center;
	padding: 8px 54px;
	border: 1px solid #3b6e22;
	color:#fff;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 0 10px 0;
}
.signup-right input[type="submit"]:hover{
	background: linear-gradient(#79bc64, #578843);
}

.create-page{
	font-weight: bold;
	font-size:13px;
	color: #666666;
	margin-top: 19px;
}

.footer-menu ul{
	list-style:none;
	display: inline-block;
	margin-top: 40px;
}

.footer-menu ul li{
	float:left;
	margin-right: 7px;
}

.footer-menu button{
 margin-top:0;
}

.plus-button{
	border: 1px solid #C1C1C1;
	width: 12px;
	height: 12px;
	text-align:center;
	padding: 3px 7px;
	font-weight: bold;
	background: #EBEDF0;
	color: #CCD0D5;
	margin-top: -4px;
}
    
.footer-section hr{
	border: 1px solid #E2E2E2;
	width: 92%;
	margin-top: 0;
	margin-bottom:0;
	border-top:none;
}

.footer-menu2 ul{
	list-style:none;
	display: inline-block;
	margin-top: 10px;
}

.footer-menu2 ul li{
	float:left;
	margin-right: 14px;
	
}.footer-menu2 ul li a{
	
	font-size:13px;
}
























